apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: architect-go
  labels:
    app: architect-go
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
